.logo {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-family: Raleway;
    font-size: 24px;
    line-height: 1.17;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    @media screen and (min-width: 1200px) {
        height: 100%;
        font-size: 26px;
        line-height: 1.2;
        margin-right: 90px;
    }
    .logo-blue {
        display: flex;
        align-items: center;
        color: var(--accent-color);
        @media screen and (min-width: 1200px) {
            height: 100%;
        }
    }
    .logo-white {
        color: var(--white-text-color);
    }
}

