@media screen and (max-width: 479px) {
    .clients-list {
        padding-left: auto;
        padding-right: auto;
    }
    .clients-list__item {
        display: block;
        margin-bottom: 30px;
        margin-left: 30px;
        width: 210px;
    }
}   

.clients-list {
    // display: flex;
    // justify-content: center;
    // margin-top: 50px;   
    margin-top: 30px;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    @media screen and (min-width: 479px) {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
        // justify-content: space-around;
        
    }
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        height: 92px;
        border: 1px solid #AFB1B8;
        box-sizing: border-box;
        border-radius: 4px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            border: 1px solid var(--accent-color);
        }
        @media screen and (min-width: 1200px) {
            width: 170px;
        }
    }
}



.clients-list__item {
    // @media screen and (max-width: 479px) {
    //     margin-bottom: 30px;
        
    // }
    @media screen and (min-width: 480px) {
        width: calc(100% / 2 - 30px);
        height: 92px;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
        width: calc(100% / 3 - 30px);
        height: 92px;
        margin-left: 30px;
        margin-bottom: 30px;
    }
}


// .clients-list__item:not(:last-child) {
//     margin-right: 30px;
// }

.clients-svg {
    width: 106px;
    height: 60px;
    fill: var(--icon-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .link:hover &,
    .link:focus & {
        fill: var(--accent-color);
    }
}
