.header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    height: 60px;
    @media screen and (min-width: 768px) {
        height: 80px;
        
    }
    @media screen and (min-width: 1200px) {
    //     height: 80px;
    }
}

.main-menu {
    display: none;

    @media screen and (min-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-right: 0;
    }
}


/* ------- БЛОК КОНТАКТОВ ------- */
.header-contacts {
    display: flex;
    align-items: baseline;
    // height: 80px;
    @media screen and (min-width: 768px) {
    //    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 140px;
    }
    @media screen and (min-width: 1200px) {
        height: 80px;
    }
    .link {
        display: flex;
        align-items: center;
        height: 100%;
        color: var(--p-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-decoration: none;

        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:not(:last-child) {
             margin-right: 48px;
        }
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
        &:hover .header-svg,
        &:focus .header-svg {
            fill: currentColor;
        }
        @media screen and (min-width: 768px) {
            height: auto;
            font-size: 12px;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

.header-svg {
    margin-right: 10px;
    fill: var(--icon-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.open-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}
